@CHARSET "UTF-8";

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #5F411F;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2),
		to(#c9b7a2));
	background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
	background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	margin: 0 auto;
	width: 70%;
	margin-top: 120px;
	border: 1px solid #42290B;
	background: url('../img/paper.jpg');
	background-size: cover;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-size: cover;
	opacity: 0.9;
	-webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset
		rgba(255, 255, 255, 0.4) 0 0px 0;
	-moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset
		rgba(255, 255, 255, 0.4) 0 0px 0;
	box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset
		rgba(255, 255, 255, 0.4) 0 0px 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width: 500px;
	padding: 45px;
	padding-left: 75px;
	background-size: cover;
}

.square_pic {
	width: auto;
	max-height: 200px;
	position: relative;
}

.img_frame {
	border: solid 2px #ffffff;
	-moz-box-shadow: 5px 5px 0px #535353;
	-webkit-box-shadow: 5px 5px 0px #535353;
	box-shadow: 5px 5px 0px #535353;
	background-color: white;
}

.circle_pic {
	object-fit: cover;
	margin: auto;
	display: block;
	margin: auto;
}

h2 {
	font-family: Georgia, serif;
	color: #4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 200;
	font-size: 26px;
	margin-bottom: 0;
}

h3 {
	font-family: georgia, serif;
	color: #292625;
	font-size: 17px;
	font-weight: 200;
	letter-spacing: .1em;
	display: inline;
	line-height: 40px;
	margin-left: 60px;
}

h4 {
	font-family: georgia, serif;
	color: #a60000;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: .1em;
	display: inline;
	padding-left: 20px;
	text-align: right;
}

.hr_img {
	margin-top: -20px;
}

tr {
	vertical-align: bottom;
}

.left_column {
	width: 300px;
}

.username {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.site_label {
	text-align: center;
	vertical-align: middle;
	margin-top: -150px;
}

blockquote {
	font-family: Cambria, Georgia, serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

a {
	text-decoration: blink;
	font-size: 12px;
	color: #f4d000;
	background-image: linear-gradient(to right, #e2dfde 50%, transparent 50%);
	background-position: 0 1.04em;
	background-repeat: repeat-x;
	background-size: 6px 3px;
}