<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Recipes</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.vso.controlers.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationValidation</servlet-name>
		<servlet-class>com.vso.controlers.RegistrationValidation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationValidation</servlet-name>
		<url-pattern>/validation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.vso.controlers.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>com.vso.controlers.UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/jsps/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/jsps/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.vso.filters.CharsetFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>